<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 브라우저에서 실행되는 자바스크립트로 인덱스 가져오기 , 아니면 form태그로 만들어서 해결하기 , nunjucks로 만들기-->
</head>

<body>
    <h2>view page</h2>
    <ul>
        <li>
            제목 : {{items.subject}}
        </li>
        <li>
            작성자: {{items.name}}
        </li>
        <li>
            내용 : {{items.content}}
        </li>
    </ul>
    <a href="/list">목록가기</a>
    <a href="/modify?index={{items.index}}">수정</a>
    <a href="/delete">삭제</a>
</body>

</html>